<section id="contact" class="sections">
    <div class="section-lines"></div>
    <div id="contact-wrapper">
        <a href="https://www.google.com/maps/place/Holy+Cross+and+the+First+Mass+Shrine/@9.9292164,125.0712319,16.61z/data=!4m15!1m8!3m7!1s0x33072d32dd5b0d8b:0xbed786d621927948!2sLimasawa,+Southern+Leyte!3b1!8m2!3d9.9302782!4d125.0746026!16s%2Fg%2F11fyx8q0vb!3m5!1s0x33072d2d00000001:0xade26d7aaf5f286f!8m2!3d9.9303!4d125.074625!16s%2Fg%2F1hc4fc5wl?entry=ttu&g_ep=EgoyMDI1MDUwMy4wIKXMDSoJLDEwMjExNDUzSAFQAw%3D%3D" target="_blank" rel="noopener noreferrer" class="contact-image">
            <img src="Images/map.png">
            <h1 class="contact-image-header">THE REAL LIMASAWA ISLE</h1>
            <p class="contact-image-text">Magallanes, Southern Leyte</p>
        </a>

        <div class="contact-block">
            <a href="#" class="contact-link">
                <img src="Images/phone-call.png" class="contact-icon">
                <p class="contact-text">+63 969143 4143</p>
            </a>
            <a href="mailto:shadyshades@gmail.com" class="contact-link">
                <img src="Images/email.png" class="contact-icon">
                <p class="contact-text">Shadyshades@gmail.com</p>
            </a>
            <a href="https://www.instagram.com/kevin/?hl=en" target="_blank" rel="noopener noreferrer" class="contact-link">
                <img src="Images/instagram.png" class="contact-icon">
                <p class="contact-text">Instagram</p>
            </a>
            <a href="https://x.com/elonmusk" target="_blank" rel="noopener noreferrer" class="contact-link">
                <img src="Images/twitter.png" class="contact-icon">
                <p class="contact-text">X</p>
            </a>
        </div>
    </div>

</section>

<footer id="footer" class="sections">
    <div class="footer-wrapper">
        <hr>
        <nav class="footer-nav">
            <ul class="ul1">
                <li><a href="./home.html">Home</a></li>
                <li><a href="./about.html">About</a></li>
                <li><a href="./blog.html">Blog</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
            <ul>
                <li><a href="./services1.html">Marketing Insight <br>Reports</a></li>
                <li><a href="./services2.html">Business Strategy <br>Frameworks</a></li>
                <li><a href="./services3.html">Workshop & <br>Webinars</a></li>
                <li><a href="./services4.html">Consultation <br>Packages</a></li>
            </ul>
        </nav>
    </div>

</footer>